<h1>Fridge Ingredients</h1>
<table>
  <tr>
    <th> Name </th>
    <th> Quantity </th>    
  </tr>
 
  <tr *ngFor="let item of service.fridge1.contents" (click)="selectIngredient(item)" class="{{ selectedIngredient == item ? 'selected' : '' }}">
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.quantity}}
    </td>
  </tr> 
</table>
<br>

  <label>Ingredient Name </label>
  <input type="text" [(ngModel)]="newIng.name"><br>
  <label>Quantity </label>
  <input type="number" [(ngModel)]="newIng.quantity"><br><br>
  <input type="button" value="Add new Item" (click)="addIngredient()"><br><br>
      
  <!-- <div *ngIf="selectedIngredient != null">
    <h1>Selected Ingredient</h1>
    <table>
      <tr>
        <td>{{selectedIng.name}}</td>
        <td>{{selectedIng.quantity}}</td>
      </tr> 
    </table>

    <label>Quantity </label>
    <input type="number" [(ngModel)]="changedIngredient.quantity"><br>

    <input type="button" value="add" (click)="addQuantity()">
    <input type="button" value="remove" (click)="removeQuantity()">
</div>     -->

