<!--The content below is only a placeholder and can be replaced.-->
<div class="recipe">
    <app-recipe-management></app-recipe-management>
</div>

<div class="fridge">
    <app-fridge></app-fridge>
  </div>
  <div class="shoppingList">
    <app-shoppinglist></app-shoppinglist>
  </div>  
  <!-- <router-outlet></router-outlet> -->


