{{anewtitle}}
  
  <br>
  <br>

  <table>
    <tr>
      <th>Recipe</th>
      <th>Time</th>
      <th>Ingredients</th>
      <th>Quantity</th>
      <th>Instructions</th>
    </tr>

    <tr *ngFor ="let recipe of recipesDetails; let i = index">
      <td (click)= "selectRecipe(recipesName[i])" class="{{recipesName[i] == selectedRecipe? 'select':'testselect'}}">{{recipesName[i]}}</td>
     
      <td>{{time}}</td>
      
      <!-- <td> 
        <ul>
        <li *ngFor = "let timeRec of recipe.time" (click)= "selectTime(timeRec)" class="{{timeRec == selectedTime? 'timeselect':''}}">{{timeRec}}</li>
        </ul>
      </td> -->
      <td>
        <ul>
          <li  *ngFor = "let ingr of recipe.ingredientList" (click)= "selectIng(ingr, i)" class="{{ingr.name == selectedIng? 'ingselect':'testing'}}">{{ingr.name}}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor = "let ingr of recipe.ingredientList" (click) = "selectQuantity(ingr)" class="{{ingr.quantity == selectedQn? 'qnselect':'qtytesting'}}">{{ingr.quantity}}</li>
        </ul>
      </td>
      <td  *ngFor = "let instruction of recipe.instructionList" (click)="selectInstruction(instruction)" class="instruction == selectedInstruction? 'selectInst':''}}">{{instruction}}</td>
    </tr>
  </table>


  <input class="recName" id="recName" type="text" name=""  placeholder="Recipe Name" [(ngModel)]="inputName"> 
  <input class="recTime" id="recTime" type="number" name="" placeholder="Enter the recipe time" [(ngModel)]="time">
  <input class="recIngre" id="recIngre" type="text" name="" id=""  placeholder="Ingrediet Name" [(ngModel)]="ingName"> 
  <input class="recQty" id = "recQty"type="number" name="" id="" placeholder="Ingrediet Qty" [(ngModel)]="ingQty"> 
  <br>
  <textarea class="recInst" id ="recInst" name="name" rows="10" cols="30" [(ngModel)]="instrcu"></textarea>
  
  <input class= "createBtn" type ="button" value ="Create" (click)="create()" >
  <input class= "deleteBtn" type ="button" value ="Delete" (click)="delete()">
  <input class = "editBtn"type ="button" value ="Edit" (click)="edit()">
  


